@model KnowledgeHub.Entities.Catagory
@{
    ViewData["Title"] = "Create";
}

<h1>Create Catagory</h1>
<hr />

@*<form action="/Catagories/Save" method="post">

  <label for="Catagory Name">Catagory Name:</label><br>
  <input type="text" id="sdfsdf" name="catagoryname"><br>
  <label for="CatagoryDescription">Catagory Description:</label><br>
  <textarea name="catagorydescription" id="catagorydescripton"></textarea><br />
  <input type="submit" value="Create Catagory" />   

</form>
*@







<form asp-action=Save asp-controller=Catagories method="post">
 <label asp-for=CatagoryName></label><br>
 
  <input asp-for=CatagoryName /> 
 @* @Html.ValidationMessageFor(m=>m.CatagoryName)   *@
  <span asp-validation-for=CatagoryName class=alert-danger></span>
  <br>
<label asp-for=CatagoryDescription></label><br>
  <textarea asp-for=CatagoryDescription></textarea><br />
  <input type="submit" value="Create Catagory" />   
  @*do client side validation - jquery validation *@
</form>

@*<script src=~/lib/jquery/dist/jquery.min.js></script>
<script src=~/lib/jquery-validation/dist/jquery.validate.min.js></script>
<script src=~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js></script>

*@

@section Scripts{
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
@*@Html.Partial("~Views/Shared/_ValidationScriptsPartial.cshtml")

@{
    Html.RenderPartial("_ValidationScriptsPartial");
}*@